<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>
    <system.serviceModel>
        <bindings/>
        <client/>
      <diagnostics>
        <messageLogging
            logMessagesAtTransportLevel="true"
            logMessagesAtServiceLevel="true"
            logMalformedMessages="true"
            logEntireMessage="true"
            maxSizeOfMessageToLog="65535000"
            maxMessagesToLog="500" />
      </diagnostics>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
